# Igual que .gitignore, pero permitiendo google-services.json para que EAS Build lo incluya
# (el archivo sigue sin comitearse a git, solo se incluye en el paquete que se sube a EAS)

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
.npm-cache/
